@model byteCrazy.Models.IndexViewModel
@{
    ViewBag.Title = "manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Changing your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("change password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("create", "SetPassword")
            }
            ]
        </dd>
        <dt>External login:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("manage", "ManageLogins") ]
        </dd>
        
        <dt>Two-factor authentication:</dt>
        <dd>
            <p>
                Two-factor authentication provider is not configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
for more information on how to set up this ASP.NET application to support two-factor authentication.
            </p>
        </dd>
    </dl>
</div>
