@model byteCrazy.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Sign in using another service.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                No external authentication service is configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
for more information on how to set up this ASP.NET application to support login through an external service.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Use your @p.Caption Account Login">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
