@model byteCrazy.Models.Users
@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>


<div>
    <h4>User details</h4>

    UserID: @Model.UserID
    <br />
    FirstName: @Model.FirstName
    <br />
    LastName: @Model.LastName
    <br />
    StudentNumber: @Model.StudentNumber
    <br />
    Location: @Model.Location
    <br />
    Password: @Model.Password
    <br />
    CreatedDate: @Model.CreatedDate
    <br />


</div>
