<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-inverse .navbar-brand {
            color: rgb(27 142 205);
            font-size: 30px;
            font-weight: bold;
        }
        .navbar-inverse {
            background-color: white;
            border: none;
            position: relative;
        }

        .navbar .container {
            border-bottom: 5px solid #d5ecfa;
            height: 60px;
        }
        .search-box {
            position: absolute;
            right: 125px;
        }
        .search-box input {
            background-color: #d5ecfa;
            border: none;
            padding: 5px 12px;
            border-radius: 10px;
            line-height: 24px;
            width: 700px;
            margin: 8px;
        }
        .nav.navbar-nav li a:hover {
            color: #009fe9;
        }
        .navbar-collapse {
            position: relative;
        }
        body {
            padding-top: 0;
        }
        .search-box svg {
            position: absolute;
            width: 22px;
            height: 22px;
            right: 16px;
            top: 13px;
            fill: #646e77;
        }
        
        
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("UserCenter", "Account")">个人中心</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOff", "Account")">注销</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Login", "Account")">登录</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register", "Account")">注册</a>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>